.header-container {
    display: flex;
    justify-content: space-between;

    height: 80px;
    width: 960px;
    margin: auto;
    box-sizing: border-box;
    .header-logo{
        display: inline-block;
    }
}

.header-operate{
    display: inline-block;
    color: #999;
    margin-top: 20px;
    
    .login{
        &:hover {
            color: #0cf;
            cursor: pointer;
        }
    }

    .register{
        &:hover {
            color: #0cf;
            cursor: pointer;
        }
    }
}