$primary-color-1: #66b408;
$primary-color-2: #539406;


$gray-color-1: #F7F7F7;
$gray-color-2: #ECECEC;
$gray-color-3: #DCDCDC;
$gray-color-4: #C8C8C8;
$gray-color-5: #B1B1B1;
$gray-color-6: #999999;
$gray-color-7: #858585;
$gray-color-8: #707070;
$gray-color-9: #5A5A5A;
$gray-color-10: #454545;